@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 16%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 16%;
    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 16%;
    --primary: 22 76% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 16%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 91.4%;
    --input: 0 0% 91.4%;
    --ring: 22 76% 55%;
    --radius: 0.5rem;
    --orange: 22 76% 55%;
    --black: 0 0% 16%;
    --white: 0 0% 96%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 22 76% 55%;
    --primary-foreground: 0 0% 16%;
    --secondary: 0 0% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 17.5%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 17.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 17.5%;
    --input: 0 0% 17.5%;
    --ring: 22 76% 55%;
    --orange: 22 76% 55%;
    --black: 0 0% 16%;
    --white: 0 0% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
